html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  padding-top: 66px;
}

body > header {
  width: 100%;
  height: 66px;
  line-height: 66px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  text-align: right;
  padding-right: 20px;
}

header > a {
  height: 100%;
  display: inline-block;
  line-height: 66px;
  position: absolute;
  left:0;
  padding-left:20px;
}

header > a > img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
  outline: 0;
}

main a {
  background-color: rgb(241, 72, 72);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-networks li{
  display: inline-block;
}

.social-icon {
  color: #efefef;
  background-color: #f14848;
  border-color: #f14848;
  display: inline-block;
  line-height: 2em;
  width: 1.8em;
  height: 1.8em;
  font-size: 3em;
  text-align: center;
  border-radius: 50%;
  margin: 0 .25em;
}

.main-menu .active {
  color: rgb(241,72,72);
  font-weight: bold;
}

.round-btn {
  letter-spacing: 0.2rem;
  border-radius: 1.7rem;
  font-size: .64rem;
  font-weight: 400;
  padding: 1.2rem 2rem;
  display: inline-block;
}

.round-btn.inverse{
  background-color: rgb(255, 255, 255);
  color: rgb(241, 72, 72);
}

.main-menu {
  display: none;
}

.icon-cross {
  display: none;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 4em;
}

.icon-menu:hover,
.icon-cross:hover {
  color: red;
}

.icon-menu-checkbox {
  display: none;
}

.icon-menu-checkbox:checked ~ .main-menu {
  position: absolute;
  top:100%;
  left:0;
  width: 100%;
  background-color: white;
  color: black;
  display: block;
}

.main-menu a {
  color:black;
}

.icon-menu-checkbox:checked ~ .main-menu li {
  list-style: none;
}

.icon-menu-checkbox:checked ~ .main-menu > ul ul li:before {
  content: "- ";
}

.icon-menu-checkbox:checked ~ .main-menu .mm-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  line-height: 40px;
  font-size: 1.2em;
}


.icon-menu-checkbox:checked ~ .icon-menu{
   display: none;
}

.icon-menu-checkbox:checked ~ .icon-cross{
  display: block;
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 4em;
}


@media all and (min-width: 701px) {

  .main-menu {
    display: block;
  }

  .main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .icon-menu {
    display: none;
  }
  .main-menu a {
    color: rgb(61, 61, 61);
    font-size: 1.1rem;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    color: rgb(241, 72, 72);
  }

  .main-menu ul ul a:hover,
  .main-menu ul ul a:focus {
    background-color: rgb(241, 72, 72);
    color: rgb(255, 255, 255);
  }

  .mm-first > li {
    display: inline-block;
    margin-left: 18px;
  }

  .mm-second {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    font-size: 1.4rem;
  }

  .mm-second > li {
    display: inline-block;
    width: 33.33%;
  }

  .mm-first > li:hover > ul {
    display: block;
  }

  .mm-second > li > a {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    background-color: rgb(250, 250, 250);
    text-align: center;
  }

  .mm-third {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    font-size: 1.4rem;
  }

  .mm-third > li {
    display: inline-block;
    width: 50%;
  }

  .mm-second > li:hover > ul {
    display: block;
  }

  .mm-third > li > a {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    background-color: rgb(250, 250, 250);
    text-align: center;
  }
}

.schedule-a-demo {
  width: 100%;
  /*height: 42.5vw;*/
  background-image: url(../assets/main-bg/home-brain-image-new-1920x816.png), url(../assets/main-bg/home-featured-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, auto auto;
  background-position: center, 0 0;
  text-align: center;
  color: white;
}

.schedule-a-demo h1 {
  font-weight: 400;
  font-size: 2.6em;
}

.schedule-a-demo-text {
  margin: 0 auto;
  width: 70%;
  height: 50%;
  padding: 10% 0;
}

@media all and (min-width: 701px) {

  .schedule-a-demo {
    height: 42.5vw;
  }
  .schedule-a-demo h1 {
    font-size: 3.6em;
  }
}

h2, h3, h4{
  font-weight: 300;
}

.why-comigo {
  width: 100%;
  /*height: 33.333vw;*/
  text-align: center;
  font-size: 2.6em;
}

.why-comigo-text{
  margin: 0 auto;
  width: 37%;
  padding: 3% 0;
}

.why-comigo-text h2 {
  font-size: 3rem;
}

.why-comigo-text h4 {
  color: #606060;
  font-weight: 100;
  font-size: 0.5em;
  line-height: 1.4em;
}

@media all and (min-width: 701px) {
  .why-comigo{
    height: 33.333vw;
  }

}

.engagement {
  width: 100%;
  height: 40.16vw;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  position: relative;
}

.engagement-text {
  width: 20%;
  height: 100%;
  padding-left: 9%;
  padding-top: 4%;
  font-size: 2.1em;
  display: inline-block;
  color:white;
  margin: 0 14% 0 0;
}

.engagement-text span {
  display: inline-block;
  font-size: 0.4em;
  font-weight: 100;
  color: #ededed;
}

.engagement-list {
  width: 65%;
  height: 100%;
  display: inline-block;
  line-height: 1em;
  vertical-align: top;
  padding-top: 2em;
  font-size: 1.2em;
  color: #606060;
}

.engagement-list figure {
  position: absolute;
  right: 0;
  top: 2em;
  display: none;
  color:white;
}

.engagement-list figcaption {
  margin-bottom: 2em;
}

.engagement-list li:last-child figure,
.engagement-list li:last-child video {
  display: block;
}

.engagement-list li:hover ~ li figure,
.engagement-list li:hover ~ li video{
  display: none;
}

.engagement-list > li:hover > h4 {
  color: rgb(241, 72, 72);
  cursor: pointer;
}

.engagement-list li:hover figure,
.engagement-list li:hover video {
  display: block;
}

.engagement-list video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: -1;
}

.tv-service {
  width: 50vw;
  height: 42.21vw;
  text-align: center;
  background-image: url(../assets/other/ic-ei-cloud-brain-hp.png), url(../assets/other/home-tv-service-bg1.png);
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top, center;
  color: white;
  display: inline-block;
  overflow: hidden;
}

.tv-service-text {
  margin: 0 auto;
  width: 50%;
  padding-top: 50%;
  padding-left: 0;
  text-align: left;
}

.tv-service-text h3{
  font-size: 2em;
  margin:0;
}
.tv-service-text p {
  font-size: 0.9em;
  margin-bottom:5%;
}

.android {
  width: 50vw;
  height: 42.21vw;
  overflow: hidden;
  background-image: url(../assets/other/ic-stb-screens.png), url(../assets/other/home-tv-service-bg2.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, cover;
  background-position: 14% 6%;
  display: inline-block;
}

.android-text {
  width: 60%;
  padding-top: 50%;
  padding-left: 11%;
  text-align: left;
}

.android-text h3 {
  font-size: 2em;
  margin: 0;
}

.android-text p {
  font-size: 0.9em;
  margin-bottom: 5%;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vw;
}

.experience-text {
  padding-left: 10%;
  width: 30%;
  font-weight: 100;
}

.experience-text h3 {
  font-size: 3em;
  margin-bottom: 0;
}

.schedules {
  width: 100%;
  height: 40.7vw;
  background-color: rgb(250,250,250);
}

.schedules .learn-more-comigo {
  /*display: flex;*/
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background-color: white;
  float: left;
}

.schedules .learn-more-comigo h3 {
  display: inline-block;
  font-size: 3em;
  width: 66.666666%;
  height: 50%;
  float: left;
  margin: 0;
  padding-top: 15%;
  background-color: rgb(230,230,230);
}

.schedules .learn-more-comigo .download-information {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
  height: 50%;
  float:left;
}

.learn-more-comigo .img-wrapper {
  border: 1px solid;
  border-radius: 50%;
  padding: 28px;
  width: 49%;
  height: 50%;
}
.learn-more-comigo img {
  width: 100%;
}
.learn-more-comigo p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.schedules ul {
  float:left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 33.333333%;
  height: 50%;
}

.schedules ul li {
  padding-bottom:10px;
}
.schedules .learn-more-comigo .schedule-meeting-link {
  float: left;
  width:66.666666%;
  height: 50%;
}
.schedules .schedule-a-demo-pic {
  float:left;
  width: 40%;
  height: 100%;
  background-color: rgb(230,230,230);
  color:black;
  overflow: hidden;
  position: relative;
}

.schedules .schedule-a-demo-pic h3 {
  font-size: 3em;
  width: 60%;
  padding-left: 5%;
}

.schedules .schedule-a-demo-pic img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 70%;
}

.blog {
  width: 100%;
  height: 36.1111111111vw;
  text-align: center;
  display: block;
  color:white;
}

.blog-text {
  width: 16.666%;
  height: 100%;
  background-color: rgb(241, 72, 72);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.blog-text-wrapper{
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.blog ul {
  width: 83.333%;
  height: 100%;
  display: inline-block;
}

.blog li {
  width: 20%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  background: no-repeat top center;
  background-size: cover;
}

.blog a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: auto;
}

.blog li span {
  display: block;
  width: 100%;
  height: 15%;
  background-color: rgb(241, 72, 72);
  position: absolute;
  top: 100%;
}

.blog li p {
  position: absolute;
  bottom: 0;
}
.blog li:nth-of-type(1) {
  background-image: url(../assets/blog/ibc_post_EI-750x508.png);
}

.blog li:nth-of-type(2) {
  background-image: url(../assets/blog/IMG_9294-750x563.jpeg);
}

.blog li:nth-of-type(3) {
  background-image: url(../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg);
}

.blog li:nth-of-type(4) {
  background-image: url(../assets/blog/post_tv_connect-750x508.jpeg);
}

.blog li:nth-of-type(5) {
  background-image: url(../assets/blog/post_quality-750x508.jpeg);
}

.sub-menus {
  background-color: rgb(30, 32, 36);
}

.upper-footer {
  width: 100%;
  height: 20vw;
  display: flex;
  justify-content: space-between;
}

.upper-footer .main-menu-minimize {
  width: 70%;
  padding-top: 5%;
  padding-left: 8%;
}

.upper-footer .main-menu-minimize ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.upper-footer .main-menu-minimize ul li {
  padding-bottom: 2%;
}
.upper-footer > a {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.lower-footer {
  background-color: rgb(21, 21, 21);
  color: rgb(99, 99, 99);
  font-size: 0.58rem;
}

.lower-footer :nth-child(n) {
  display: inline-block;
}

.lower-footer a {
  color: rgb(99, 99, 99);
}

.lower-footer a:hover,
.lower-footer a:focus {
  color: rgb(255, 255, 255);
}

.mmm-second a {
  color: rgb(122, 122, 122);
}

.mmm-second a:hover,
.mmm-second a:focus {
  color: rgb(241, 72, 72);
}
