@media all and (max-width: 700px), (max-device-width: 700px) {
  .main-menu {
    display: none;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

body > header {
  width: 100%;
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
  outline: 0;
}

main a {
  background-color: rgb(241, 72, 72);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.round-btn {
  letter-spacing: 0.2rem;
  border-radius: 1.7rem;
  font-size: .64rem;
  font-weight: 400;
  padding: 1.2rem 2rem;
  display: inline-block;
}

.round-btn.inverse{
  background-color: rgb(255, 255, 255);
  color: rgb(241, 72, 72);
}

.main-menu {
  padding-right: 0;
}

.main-menu a{
  color: rgb(61, 61, 61);
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgb(241, 72, 72);
}

.main-menu ul ul a:hover,
.main-menu ul ul a:focus
{
  background-color: rgb(241, 72, 72);
  color: rgb(255, 255, 255);
}

.mm-first > li {
  display: inline-block;
}
.mm-second > li > a {
  width: 33.333%;
  height: 100px;
  border: 1px dotted black;
  display: none;
  text-align: center;
}

/*li:hover > ul > li > a {*/
  /*display: inline-block*/
/*}*/

.mm-third > li > a {
  width: 50%;
  height: 100px;
  border: 1px dotted black;
  display: none;
  text-align: center;
}

.schedule-a-demo {
  width: 100%;
  height: 42.5vw;
  background-image: url(../assets/main-bg/home-brain-image-new-1920x816.png), url(../assets/main-bg/home-featured-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, auto auto;
  background-position: center, 0 0;
  text-align: center;
  color: white;
}

.schedule-a-demo-text {
  margin: 0 auto;
  width: 50%;
  padding-top: 10%;
}

h1, h2, h3, h4{
  font-weight: 300;
}

h1 {
  font-size: 3.15rem;
}

h2 {
  font-size: 2.275rem;
}

h4 {
  font-size: 0.88rem;
}

.why-comigo {
  width: 100%;
  height: 33.333vw;
  text-align: center;
}

.why-comigo-text{
  margin: 0 auto;
  width: 37%;
  padding: 5% 0;
}

.why-comigo-text h4 {
  color: rgb(61,61,61);
  font-weight: 100;
}

.engagement {
  width: 100%;
  height: 400px;
  display: none;
}

.tv-service {
  width: 50vw;
  height: 50vw;
  text-align: center;
  background-image: url(../assets/other/ic-ei-cloud-brain-hp.png), url(../assets/other/home-tv-service-bg1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top, center;
  color: white;
  display: inline-block;
  vertical-align: top;
}

.tv-service-text {
  margin: 0 auto;
  width: 50%;
  padding: 200px 0;
}

.android {
  width: 50vw;
  height: 50vw;
  background-image: url(../assets/other/ic-stb-screens.png), url(../assets/other/home-tv-service-bg2.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, auto;
  background-position-x: 14%;
  display: inline-block;
}

.android-text {
  margin: 0 0;
  width: 50%;
  padding: 50% 0 0  10%;
}

.schedules > a {
  background-color: white;
}
.experience {
  width: 100%;
  height: 600px;
}
.blog {
  width: 100%;
  height: 36.1111111111vw;
  text-align: center;
  display: block;
  color:white;
}

.blog-text {
  width: 16.666%;
  height: 100%;
  background-color: rgb(241, 72, 72);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.blog-text-wrapper{
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.blog ul {
  width: 83.333%;
  height: 100%;
  display: inline-block;
}

.blog li {
  width: 20%;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  background: no-repeat top center;
  background-size: cover;
}

.blog a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: auto;
}

.blog li span {
  display: block;
  width: 100%;
  height: 15%;
  background-color: rgb(241, 72, 72);
  position: absolute;
  top: 100%;
}

.blog li p {
  position: absolute;
  bottom: 0;
}
.blog li:nth-of-type(1) {
  background-image: url(../assets/blog/ibc_post_EI-750x508.png);
}

.blog li:nth-of-type(2) {
  background-image: url(../assets/blog/IMG_9294-750x563.jpeg);
}

.blog li:nth-of-type(3) {
  background-image: url(../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg);
}

.blog li:nth-of-type(4) {
  background-image: url(../assets/blog/post_tv_connect-750x508.jpeg);
}

.blog li:nth-of-type(5) {
  background-image: url(../assets/blog/post_quality-750x508.jpeg);
}

.sub-menus {
  background-color: rgb(30, 32, 36);
}

.lower-footer {
  background-color: rgb(21, 21, 21);
  color: rgb(99, 99, 99);
  font-size: 0.58rem;
}

.lower-footer :nth-child(n) {
  display: inline-block;
}

.lower-footer a {
  color: rgb(99, 99, 99);
}

.lower-footer a:hover,
.lower-footer a:focus {
  color: rgb(255, 255, 255);
}

.mmm-second a {
  color: rgb(122, 122, 122);
}

.mmm-second a:hover,
.mmm-second a:focus {
  color: rgb(241, 72, 72);
}
